nav {
  height: 5em;
}

a {
  text-decoration: none;
}

nav p {
  margin-bottom: 0px;
  font-size: 1.2rem;
}

p.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-top: 7px;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
}

.end-nav {
  display: flex;
  flex-flow: row nowrap;
}

.nav-search {
  padding-right: 0.5em;
}

.loggedin {
  display: flex;
  flex-flow: row nowrap;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
